[submodule "Ancora/vendor/spdlog"]
	path = Ancora/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Ancora/vendor/GLFW"]
	path = Ancora/vendor/GLFW
	url = https://github.com/SpiritSeeker/glfw
[submodule "Ancora/vendor/imgui"]
	path = Ancora/vendor/imgui
	url = https://github.com/SpiritSeeker/imgui
[submodule "Ancora/vendor/glm"]
	path = Ancora/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Ancora/vendor/assimp"]
	path = Ancora/vendor/assimp
	url = https://github.com/SpiritSeeker/assimp.git
